.collapse {
  display: flex;
  width: 100%;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
  @include smartphone-responsive {
    margin-bottom: 12px;
  }
  &__dropdown {
    width: 75%;
    @include smartphone-responsive {
      width: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    width: 100%;
    background: #FF6060;
    margin: 0 auto;
    margin-top: 1.5em;
    border-radius: 5px;
    @include smartphone-responsive {
      margin-top: 1em; 
    }  
  h2 {
    color: $tertiary-color;
    @include font(24px, 700);
    @include smartphone-responsive {
      @include font(13px, 700);
    }
    }
  p {
    color: $tertiary-color;
   
    i {
      cursor: pointer;
      }
    }
  }

  &__drop {
      background-color:  #F6F6F673;
      width: 100%;
      border-radius: 5px;
      @include font(20px, 400);
      color: $primary-color;
      margin: 0 auto;
      padding: 0.8em;
      @include smartphone-responsive {
        @include font(12px, 400);
      }
      }
    }
  }


