.Fiche-container {
  margin-bottom: 10px;
}

.housing-page {
  display: flex;
  flex-direction: column;
}

.accomodation-info {
  display: flex; 
  justify-content: space-between; 

  @include smartphone-responsive {
    display: flex;
    flex-direction: column;
    
  }
}

.accomodation {
  &__title {
    display: flex;
    flex-direction: column;
    @include font(36px, 500);
    color: $secondary-color;
    @include smartphone-responsive {
      @include font(18px, 500);
        
    }
  }
  &__location {
    @include font(18px, 500);
    @include smartphone-responsive {
      @include font(12px, 500);  
    }
  }
} 

.tags {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  @include smartphone-responsive {
   margin-top: 5px;  
   flex-wrap: wrap; 
  }
}

.accomodation-fiche {
  width: 100%;
  display: flex; 
  flex-direction: row;
  @include smartphone-responsive {
    flex-direction: column;
    margin-bottom: 15px;
  }
  &__description {
    width: 50%;
    padding-right: 40px;
    @include smartphone-responsive {
      width: 100%; 
      padding-right: 0;
    }
  }
  &__equipements {
    width: 50%;
    padding-left: 40px;
    @include smartphone-responsive {
      width: 100%; 
      padding-left: 0;
    }
  } 
}   
     
.owner-info {
  display: flex;
  flex-direction: column;
  @include smartphone-responsive {
    flex-direction: row-reverse;
   justify-content: space-between;
   margin-top: 20px;
  
  }
  &__details {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 10px;
    @include smartphone-responsive {
     gap: 5px;
    margin-bottom: 0;
}
  }  
  
  &__name {
    color:$secondary-color;
    width: 93px;
    text-align:right;
    @include font(18px,500);

    @include smartphone-responsive {
      @include font(12px,500);
      width: 50px;
}
  }
  &__pic {
    height: 64px;
    width: 64px;
    border-radius: 90px;
    @include smartphone-responsive {
      height: 32px;
      width: 32px; 
    }
  }
}

.rate {
 margin-top: 0;
  @include smartphone-responsive {
    margin-top: 12px;
}
  .star {
    width: 36px;
    height: 36px;
    @include smartphone-responsive {
      width: 15px; 
      height: 15px;
    }
  }
} 


