.Fiche-container {
  color: $primary-color;
  flex-direction: column;
  margin-bottom: 10px;
}

.housing-page {
  display: flex;
  flex-direction: column;
}

.accomodation-info {
  display: flex; 
  justify-content: space-between; 
  height: 120px;
  @include smartphone-responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.accomodation {
  &__title {
    display: flex;
    flex-direction: column;
    @include font(36px, 500);
    color: $secondary-color;
    @include smartphone-responsive {
      @include font(18px, 500);  
    }
  }
  &__location {
    @include font(18px, 500);
    @include smartphone-responsive {
      @include font(12px, 500);  
    }
  }
} 

.accomodation-fiche {
  width: 100%;
  display: flex; 
  flex-direction: row;
  @include smartphone-responsive {
    flex-direction: column;
  }
  &__description {
    width: 50%;
    padding-right: 40px;
    @include smartphone-responsive {
      width: 100%; 
      padding-right: 0;
    }
  }
  &__equipements {
    width: 50%;
    padding-left: 40px;
    @include smartphone-responsive {
      width: 100%; 
      padding-left: 0;
    }
  } 
}   
     
.owner-info {
  display: flex;
  flex-direction: column;
  &__details {
    display: flex; 
    flex-direction: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  &__name {
    color:$secondary-color;
    width: 93px;
    text-align:right;
    @include font(18px,500);
    margin: 11px 10px  0 0 ;
  }
  &__pic {
    height: 64px;
    width: 64px;
    border-radius: 90px;
  }
}

.rate {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  .star {
    width: 36px;
    height: 36px;
    @include smartphone-responsive {
      width: 15px;
      height: 15px; 
    }
  }
} 


