.tag {
    @include flex-center;
    background: #FF6060;
    color: $tertiary-color;
    margin-top: 1%;
    @include font(10px, 500);
    height: 18px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 10px 0 10px;
}