.errorContainer {
    color:$secondary-color;
    text-align: center;
    height: 500px;
    margin:  22px 22px;

    &__Number {
        text-align: center;
        @include font(200px, 800);
        margin: 0 0 1rem ;
        @include smartphone-responsive {
          @include font(96px, 700); 
          margin-top: 50px; 
        }
    }
    &__Text {
      width: 100%;
      text-align: center;
      @include font(36px, 500);
      margin: 0 11% 5% 0;
      @include smartphone-responsive {
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
        margin: 70px 0 110px 0;
      }
    }
    &__Link {
      color: $primary-color;
      @include font(20px, 500);
      @include smartphone-responsive {
        @include font(14px, 500); 
      }
    &:hover,
      &:focus {
        text-decoration-line: underline;
      }
    }
}