@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin font-right($size) {
    font-size:$size;
    font-weight: bolder;
    text-align: right;
    line-height:142.6%;
}

@mixin font($size, $weight) {
    font-size: ($size);
    font-style: normal;
    font-weight: $weight;
    line-height: 142.6%;
}

@mixin linear-gradient {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #00000080);
  }

 